:root {
    --black: #000;
    --white: #fff;
    --gray: #746c70;
    --cool-gray: #4e4f50;
    --blue-gray: #647c90;
    --ivory: #e2ded0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    color: var(--cool-gray);
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 1.4;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--cool-gray);
}

a {
    text-decoration: none;
    color: var(--blue-gray);
}

a:hover,
a:focus {
    font-weight: 600;
}
